
.navbar {
	font-family: Montserrat, sans-serif;
	margin-bottom: 0;
	background-color: #3465a4;
	border: 0;
	font-size: 13px !important;
	letter-spacing: 3px;
	opacity: 1;
}

.navbar li a, .navbar .navbar-brand {
	color: #d5d5d5 !important;
}

.navbar-nav li a:hover {
	color: #fff !important;
}

 
  
.navbar-nav li.active a {
	color: #fff !important;
	background-color: #729fcf!important;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
}



.dropdown-menu li a {
	color: #000 !important;
}

 .open .dropdown-menu li a{
    background-color: #ffffff!important;
    color:#000000!important;
  }

.dropdown-menu li a:hover {
	background-color: #3465a4!important;
	color:#ffffff!important;
	font-size: 14px;
	font-weight: bold;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.cont {
	margin: 0;
	padding: 80 !important;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;
	
	padding-top: 20; /* Relleno superior igual a la altura de la cabecera*/
}

