/* gradient fallbacks taken from csstricks.com */
/* #container { */
/*   background-color: black; */
/* } */


#container {
  background-image: url("../img/sky.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%; 
  background-size: cover; 
}


#lower_right {
	width: 220px; height: 250px;
	bottom: 0%;
	right: 0%;
	margin: 10px;
	position: absolute;
	background-image: url("../img/logoud_0.png");
	background-repeat: no-repeat;
}

#lower_center{
	width: 220px; height: 250px;
	bottom: 13%;
	right: 0%;
	margin: 10px;
	position: absolute;
	background-image: url("../img/logo-small_1.png");
	background-repeat: no-repeat;
}

#lower_left {
	width: 220px; height: 250px;
	bottom: 25%;
	right: 0%;
	margin: 10px;
	position: absolute;
	background-image: url("../img/sirgas_logo.png");
	background-repeat: no-repeat;
}

body {
  background-image: url("../img/sky.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%; 
  background-size: cover; 
}